<?xml version="1.0" encoding="UTF-8"?>

<FinderConfiguration>
    <OntologyLocation url="pizza-latest.owl"/>
    <IngredientClass class="http://www.co-ode.org/ontologies/pizza/pizza.owl#PizzaTopping"/>
    
    <AvailableLanguages>
        <language name="default"/>
        <language name="pt"/> 
        
    </AvailableLanguages>
    
    <Logo URL="/PizzaLogo.png"/>
    
   
    
    <TitleLabel text="Pizza Finder "/>
    <IncludedLabel />
    <ExcludedLabel />
    
<ClassRendering use="IRI"/> <!--label Or IRI  -->
   
   <IngredientsClassifications>
             <Classification class="http://www.co-ode.org/ontologies/pizza/pizza.owl#SpicyTopping" />
        <Classification class="http://www.co-ode.org/ontologies/pizza/pizza.owl#VegetarianTopping" />
        <Classification class="http://www.co-ode.org/ontologies/pizza/pizza.owl#CheeseTopping" /> 
   </IngredientsClassifications>
   
   <IngredientsFacets>
       <Facet property="http://www.co-ode.org/ontologies/pizza/pizza.owl#hasSpiciness"/>
            
   </IngredientsFacets>
   
   
    <ResultsAnnotationProperty property="http://www.co-ode.org/ontologies/pizza/pizza.owl#description"/>
    <!-- http://www.w3.org/2000/01/rdf-schema#comment -->
    <ResultsCharacteristics>
        <ResultsCharacteristic  class="http://www.co-ode.org/ontologies/pizza/pizza.owl#SpicyPizza" url="/spicyIcon.jpg"/>
        <ResultsCharacteristic  class="http://www.co-ode.org/ontologies/pizza/pizza.owl#VegetarianPizza" url="/vegIcon.jpg" />   
       
    </ResultsCharacteristics> 
    
    
    <!--  In the results, dont show classes that have the following annotation property with the specified value-->
          
    <QueryTemplates>

  <SimpleTemplate Id="ID1" name="Pizza" show="yes">
            <BaseClass name="http://www.co-ode.org/ontologies/pizza/pizza.owl#NamedPizza"/>
            <Property name="http://www.co-ode.org/ontologies/pizza/pizza.owl#hasTopping"/>
            <ComponentClass name="http://www.co-ode.org/ontologies/pizza/pizza.owl#PizzaTopping"/>
        </SimpleTemplate> 
        
        
 </QueryTemplates>
    
    
</FinderConfiguration>